<form [formGroup]="borrowerInformationForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Primary Borrower</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" formControlName="firstName">
            <mat-error *ngIf="borrowerInformationForm.controls['firstName'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last name" formControlName="lastName">
            <mat-error *ngIf="borrowerInformationForm.controls['lastName'].hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Mobile Number" formControlName="mobileNumber"></textarea>
            <mat-error *ngIf="borrowerInformationForm.controls['mobileNumber'].hasError('required')">
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="!hasUnitNumber">
        <div class="col">
          <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">
            + Add Borrower
          </button>
        </div>
      </div>
      <div class="row" *ngIf="hasUnitNumber">
        <div class="col">

            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="First name 2" formControlName="firstName2">
                  <mat-error *ngIf="borrowerInformationForm.controls['firstName2'].hasError('required')">
                    First name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Last name 2" formControlName="lastName2">
                  <mat-error *ngIf="borrowerInformationForm.controls['lastName2'].hasError('required')">
                    Last name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Mobile Number 2" formControlName="mobileNumber2"></textarea>
                  <mat-error *ngIf="borrowerInformationForm.controls['mobileNumber2'].hasError('required')">
                    Address is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Next</button>
    </mat-card-actions>
    <mat-slider min="1" max="100" step="1" value="5"></mat-slider>
  </mat-card>
</form>
