<form [formGroup]="loanInformationForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>What kind of loan would you like?</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      &nbsp;
   <!--   <div class="row">
        <div class="col">
          Select a collateral to clone an account borrower is pledging

        </div>
      </div>
-->
      &nbsp;


      &nbsp;



      &nbsp;&nbsp;
      <div class="row">
        <div class="col">
         <!-- <b>Loan Type</b>-->

            <mat-form-field class="full-width">
              <mat-select placeholder="Loan Type" formControlName="loanType">
                <mat-option *ngFor="let loanType of loanTypes" [value]="loanType.abbreviation">
                  {{ loanType.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="loanInformationForm.controls['loanType'].hasError('required')">
                Loan Type is <strong>required</strong>
              </mat-error>
            </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <!-- <b>Loan Type</b>-->

            <mat-form-field class="full-width">
              <input matInput placeholder="Loan Amount" formControlName="loanAmount">
              <mat-error *ngIf="loanInformationForm.controls['loanAmount'].hasError('required')">
                  Loan Amount is <strong>required</strong>
              </mat-error>

            </mat-form-field>


        </div>
      </div>

      <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Proposed Collateral" collateral="collateral"></textarea>
              <mat-error *ngIf="loanInformationForm.controls['loanAmount'].hasError('required')">
                Collateral is <strong>required</strong>
              </mat-error>

            </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <b>Maturity</b>
          <mat-radio-group formControlName="maturity">
            <mat-radio-button value="maturity1">5 year</mat-radio-button>
            <mat-radio-button value="maturity2">10 year</mat-radio-button>
            <mat-radio-button value="maturity3">15 year</mat-radio-button>
            <mat-radio-button value="maturity4">Revolving</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      &nbsp;&nbsp;

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="Continue">Next</button>
    </mat-card-actions>
    <mat-slider min="1" max="100" step="2" value="30"></mat-slider>
  </mat-card>
</form>
